/* link não visitado */
a:link {color:#FF0000;}
/* link visitado */
a:visited {color:#00FF00;}
/* mouse sobre o link */
a:hover {color:#FF00FF;}
/* link selecionado */
a:active {color:#0000FF;}
/* primeiro <p> de um elemento <p> */
p:first-child {color: blue;}
/* primeiro <i> de de todos <p> */
p:first-child {color: blue;}
/* primeiro <i> do primeiro <p> */
p:first-child {color: blue;}
/*qualquer <input> com foco */
input:focus{background-color: yellow;}