
img.direita{float: right;
   margin-left: 2.5cm;}
p.esq{clear:both;
text-align: center;
border: solid rgb(255, 153, 153);
color: rgb(53, 60, 63);
background-color: mediumaquamarine;
}
img.centro{float: right;
   margin-right: 15.3cm;
   position: relative;}
   h1{clear:both;
    text-align: center;;
    border: solid rgb(255, 246, 83);
color: rgb(53, 60, 63);
background-color: rgb(228, 100, 120);
   }
.border{margin: 5px 5px 5px 5px;
    height: 20%;
    width: 50%;
    border: 001cm inset rgb(180, 94, 255);}

    h3{clear:both;
        float: right;
   margin-right: 8.5cm;
   position: relative;
   padding: 90px 40px 100px 40px;
        border: solid rgb(254, 149, 149);
    color: rgb(53, 60, 63);
    background-color: rgb(170, 171, 170);
       }
       h4{clear:both;
        float: right;
   margin-left: 38.5cm;
   position: absolute;
   padding: 10px 50px 300px 20px;
        border: solid rgb(228, 135, 214);
    color: rgb(53, 60, 63);
    background-color: rgb(230, 255, 132);
       }
       ul.disc{list-style-type:disc;}
       .vertical-menu{width: 200px;}

.vertical-menu a{background-color: grey;
color: black;
display: block;
padding: 12px;
text-decoration: none;}

.vertical-menu a:hover{background-color: aquamarine;}
.vertical-menu a.active{background-color: darkviolet;
color: rgb(254, 228, 242);}


