h4{clear:both;
    float: right;
margin-left: 0.5cm;
position: absolute;
padding: 80px 40px 80px 40px;
    border: solid rgb(164, 74, 255);
color: rgb(53, 60, 63);
background-color: rgb(255, 0, 81);}

h3{clear:both;
    float: right;
margin-left: 31.8cm;
position: absolute;
top: -0px;
padding: 150px 150px 190px 150px;
    border: solid rgb(164, 74, 255);
color: rgb(53, 60, 63);
background-color: rgb(108, 239, 223);}

.vertical-menu a{background-color: grey;
    color: black;
    display: block;
    padding: 20px;
    width: 300px;
    margin-left: 0cm;
    text-decoration: none;}
    
    .vertical-menu a:hover{background-color: rgb(0, 255, 17);}
    .vertical-menu a.active{background-color:  rgb(135, 15, 255);
    color: rgb(254, 228, 242);}
    .dropdown {
        width: 300px ;
    }
    .dropbtn
{background-color: rgb(145, 64, 225);
color: rgb(255, 255, 255);
padding: 7px;
font-size: 20px;
border:none;
margin-left: 0cm;
position: relative;
}

    .dropbtn-content
{display: none;
position: absolute;
background-color: rgb(255, 0, 81);
min-width: 100px;
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropbtn-content a
{color: black;
padding: 16px 16px;
text-decoration: none;
display: block;}

.dropbtn-content a:hover
{background-color:rgb(255, 0, 81); }

.dropbtn:hover .dropbtn
{background-color: rgb(0, 255, 17);}

.dropbtn:hover .dropbtn-content
{display: block;}
    
    img.centro{float: right;
        margin-left: -24.3cm;
        padding: 80px 40px 80px 40px;
        position: absolute;
        top: 300px;
        right: 560px;
    }

pre.esq{
margin-left: 19%;
margin: 0%;}

    