body{ 
    background-color: rgb(17, 6, 78);
    }
h1{
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size:45px;
    align-self: center;
}
img.serie2{
    width:6cm;
    height:8cm;
    margin-top: 10px;
    margin-left: 30px;
    position: relative;
    border: 5px solid white;
}
h2.titulo2{
    color: rgb(255, 252, 252);
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;}
video{
    border: solid 5px white;
    width: 1200px;
    margin-left: 150px;
    position: relative;
}
#ti{display: flex;
align-items: space-around;
flex-direction:row;}

#tr{display:flex;
align-items: space-around;
flex-direction: row;
}

#te{display:flex;
    align-items: space-between;
    flex-direction:column;
    }
    

#vi{display:flex;
    align-items: center;
    }
    
